---
import logoImage from '~/assets/images/logo_main.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src={logoImage.src} alt="Logo" class="h-32 mr-2 flex-shrink-0" />
</span>
