---
import Footer from '~/components/widgets/Footer.astro';
import Header from '~/components/widgets/Header.astro';
import Layout from '~/layouts/Layout.astro';

import { getFooterData, getHeaderData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

// Get current locale from Astro.currentLocale
const currentLocale = Astro.currentLocale || 'en';
const headerData = getHeaderData(currentLocale);
const footerData = getFooterData(currentLocale);
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme showLanguageSwitcher />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
